doctype html 
html 
    head 
        title Student form
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'
        integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous')
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')

    style 
        include ../public/css/style.css

    body
        h1 Fill Student Details
        div.container 
            form(method='POST', action='/handleForm', name='studentForm') 
                div.form-group
                    label First Name
                    input.form-control(type='text' name='firstname' required autofocus)
        
                div.form-group
                    label Last Name
                    input.form-control(type='text' name='lastname' required)
                    
                div.form-group
                    label Age 
                    input.form-control(type='text' name='age' required)
                
                div.form-group 
                    label Student Id
                    input.form-control(type='number' name='studentid' required)
                
                div.form-group 
                    label Branch Name 
                    input.form-control(type='text' name='branchname' required)
                
                div.form-group  
                    label Email
                    input.form-control(type='text' name='email' required)
                
                div.form-group  
                    label Phone
                    input.form-control(type='number' name='phone' required)
                br
                label Gender
                div.row
                    div#position.col-md-2
                        label Male 
                        input.form-control(type='checkbox' id='checkbox' value='male' name='gender')
                        
                        label Female 
                        input.form-control(type='checkbox' id='checkbox' value='female' name='gender')
                br
                button.btn.btn-primary.btn-space(type='submit' value='submit' onsubmit='alert("Data Added")') Submit

            button.btn.btn-primary.btn-space(type='submit') 
                a#button(href='/studentdetails') View Details 
                