table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th,
  td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #4caf50;
    color: white;
  }
  
  h1 {
    text-align: center;
  }
  
  #button {
    text-decoration: none;
    color: azure;
  }
  
  #gender {
    display: flex;
  }
  
  #checkbox {
    top: 0.8rem;
    width: 1.55rem;
    height: 1.55rem;
  }
  
  #position {
    display: flex;
    justify-content: space-between;
  }
  
  .btn-space {
    margin-bottom: 5px;
  }
  